.defil .title {
    font-size: 1.7rem;
    font-weight: bold;
    color: #2e7d32;
    margin-bottom: 20px;
}

.defil {
    overflow: hidden;
}

.slider-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    gap: 20px;
    animation: scroll-horizontal 30s linear infinite;
}

.slide-card {
    flex: 0 0 33.3333%;
    /* 3 cartes visibles sur grand écran */
    max-width: 33.3333%;
}

.card {
    height: 100%;
}


.action-butt {
    width: 100%;
    text-align: center;
}

.action-butt button {
    margin: 0 5px;
}


/* Responsive */
@media (max-width: 992px) {
    .slide-card {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .slide-card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Animation */
@keyframes scroll-horizontal {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}