.wrapper {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.heroad-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.heroad-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fffafa;
    background-color: rgba(0, 0, 0, 0.5);
}